<div class="print-heading">
<h2 style="font-size:16px"<b>Delivery Note</b></h2>
<small>{{ doc.name }}</small>
<!--<h2 style="font-size:12px"><b>Sales Order Number</b></h2>-->
{% set str=namespace(against_sales_order="") %}
{% for row in doc.items %}
   {% set str.sales_order= row.against_sales_order%}
{% endfor %}
<h2 style="font-size:12px">{{ str.sales_order }}
<h2>
</div>
<div class="row section-break f_font">
  <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%"><b>Customer Name</b></td>
        <td width="60%">{{ doc.customer_name or '' }}</td>
      </tr>
      <tr>
    		<td width="40%"><b>{% if doc.pick_list is not none %} Pick List {% endif %}</b></td>
    		<td width="60%">{% if doc.pick_list is not none %} {{doc.pick_list}} {% endif %}</td>
  	  </tr>
      <tr>
        <td width="40%">{% if doc.contact_display is not none %} Contact {% endif %}</td>
        <td width="60%"><b>{% if doc.contact_display is not none %} {{ doc.contact_display or '' }} {% endif %}</b></td>
      </tr>
    </table>
  </div>
  <div class="col-xs-6">
	 <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%"><b>Date</b></td>
        <td width="60%">{{ frappe.utils.formatdate(doc.get_formatted('posting_date'), "dd-mm-yyyy") }}</td>
      </tr>
      <tr>
        <td width="40%"><b>{% if doc.address_display is not none %} Billing Address {% endif %}</b></td>
        <td width="60%">{% if doc.address_display is not none %} {{ doc.address_display or '' }} {% endif %}</td>
      </tr>

    </table>
  </div>
</div>

{% set uom=namespace(uom_name="") %}
{% set disc=namespace(discount=0) %}
<br><table width="100%" style="table-layout: auto;" border="1px" bordercolor="#d1d8dd">
    <tr>
        <th class="tac" width="6%"><b>Sr.</b></th>
        <th class="tac" width="18%"><b>Item Code</b></th>
        <th class="tac" width="18%"><b>Description</b></th>
        <th class="tac" width="15%"><b>Quantity</b></th>
        <th class="tac" width="15%"><b>Weight/Unit</b></th>
        <th class="tac" width="10%"><b>Total Weight</b></th>
    </tr>
{% for row in doc.items %}

<tr>
        <td class="tac" width="6%">{{ row.idx or '' }}</td>
        <td width="18%">{{ row.item_code or '' }}</td>
        <td width="18%">{{ row.description or '' }}</td>
        <td class="tac" width="15%"> {{ row.get_formatted("qty") or 0}}&nbsp; {{row.uom}}</td>
        <td class="tac" width="15%">{{ row.weight_per_unit }}</td>
        <td class="tac" width="10%">{{ row.total_weight }}</td>

    </tr>
    {% set discount = row.discount_amount %}
    {% set disc.discount=disc.discount+ discount %}
{% endfor %}
  <tr>
    <td class="tac" colspan="3">Total Quantity</td>
    <td width="10%" style ="text-align:center">{{ doc.total_qty or '' }}</td>
    <td></td><td></td>
  </tr>
</table><br>
