{% if doc.accessories_type[:1] == "A" %}
    {% set accessories_type = "Accessories" %}
{% endif %}
{% if doc.accessories_type[:1] == "B" %}
    {% set accessories_type = "Raw Material" %}
{% endif %}
{% if doc.accessories_type[:4] == "WASH" %}
    {% set accessories_type = "WASH" %}
{% endif %}
<div class="print-heading">
  <h2>Delivery Note {{ accessories_type }}<br><small>{{ doc.name }}</small>
  </h2>
</div>
<div class="row section-break f_font">
  <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%"><b>Company</b></td>
        <td width="60%"><b>{{ doc.company or '' }}</b></td>
      </tr>
    </table>
  </div>
  <div class="col-xs-6">
	<table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%"><b>Date</b></td>
        <td width="60%"><b>{{ frappe.utils.formatdate(doc.get_formatted('posting_date'), "dd-mm-yyyy") }}</b></td>
      </tr>
    </table>
  </div>
</div>
<div class="row section-break f_font">
  <!--<div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%">{% if doc.po_contact_person is not none %} Kepada Yth : {% endif %}</td>
        <td width="60%"><b>{% if doc.po_contact_person is not none %} {{ doc.po_contact_person or '' }} {% endif %}</b></td>
      </tr>
    </table>
  </div>-->
  <div class="col-xs-6">
	  <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%">{% if doc.mwo_name is not none %} SPK {% endif %}</td>
        <td width="60%">{% if doc.mwo_name is not none %} {{ doc.mwo_name or '' }} {% endif %}</td>
      </tr>
    </table>
  </div>
  <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">
		   <tr>
		    <td width="40%">Art No :</td>
      {% set check = namespace(value="1") %}
			{% set woid = frappe.get_all('Work Order Item Details', filters={'parent': doc.mwo_name}, fields=['art_no']) %}
				{% for woid in woid %}
          {% set vcount = namespace(value=1) %}
             {% if (woid.art_no is not none) and (check.value=="1") %}
					        <td width="60%">{{ woid.art_no }}</td>
                  {% set check.value = "2" %}
            {% endif %}
				{% endfor %}
		   </tr>
		</table>
  </div>
</div>
<div class="row section-break f_font">
  <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%">{% if doc.supplier is not none %} Penerima {% endif %}</td>
        <td width="60%"><b>{% if doc.supplier is not none %} {{ doc.supplier or '' }} {% endif %}</b></td>
      </tr>
    </table>
  </div>
  <div class="col-xs-6">
	<table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%">{% if doc.po_reference is not none %} PO Number {% endif %}</td>
        <td width="60%">{% if doc.po_reference is not none %} {{ doc.po_reference or '' }} {% endif %}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row section-break f_font">
  <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%">{% if doc.supplier_address is not none %} Alamat {% endif %}</td>
        <td width="60%"><b>{% if doc.supplier_address is not none %} {{ doc.supplier_address or '' }} {% endif %}</b></td>
      </tr>
    </table>
  </div>
  <div class="col-xs-6">
	<table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%">{% if doc.vehicle_no is not none %} Vehicle No {% endif %}</td>
        <td width="60%">{% if doc.vehicle_no is not none %} {{ doc.vehicle_no or '' }} {% endif %}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row section-break f_font">
  <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%">{% if doc.po_address_display is not none %} Shipping Address {% endif %}</td>
        <td width="60%"><b>{% if doc.po_address_display is not none %} {{ doc.po_address_display or '' }} {% endif %}</b></td>
      </tr>
    </table>
  </div>
  <div class="col-xs-6">
	<table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%">{% if doc.driver_name is not none %} Driver Name {% endif %}</td>
        <td width="60%">{% if doc.driver_name is not none %} {{ doc.driver_name or '' }} {% endif %}</td>
      </tr>
    </table>
  </div>
</div>

{% set disc=namespace(discount=0) %}
{% set amt=namespace(price_amount=0) %}
{% set uom=namespace(uom_name="") %}
<br><table width="100%" style="table-layout: auto;" border="1px" bordercolor="#d1d8dd">
    <tr>
        <th class="tac" width="5%"><b>No.</b></th>
        <th class="tac" width="30%"><b>Kode Barang</b></th>
        <th class="tac" width="50%"><b>Deskripsi</b></th>
        <th class="tac" width="15%"><b>Quantity</b></th>
        <!--<th class="tac" width="%"><b>Deskripsi</b></th>-->

    </tr>
{% for row in doc.items %}
<tr>
        <td class="tac" width="5%">{{ row.idx or '' }}</td>
        <td width="30%">{{ row.item_code or '' }}</td>
        <td width="50%">{{ row.description or '' }}</td>
        <td class="tac" width="15%"> {{row.qty}}&nbsp; {{ row.uom or 0}}</td>
		<!--<td width="30%">{{ row.description or '' }}</td>-->

    </tr>
{% endfor %}
  <tr>
    <td class="tac" colspan="3">Total Quantity</td>
    <td class="tac">{{ doc.total_qty or '' }}&nbsp;{{uom.uom_name}}</td>
  </tr>
</table>
<br>
<br>
<div class="row section-break f_font">
<div class="col-xs-12">
<table width="100%" style="table-layout: fixed;">

<tr>
<td colspan="3" class="tac">Tanda Terima</td>
<td colspan="3" class="tac"></td>
<td colspan="3" class="tac"></td>
<td colspan="3" class="tac">Hormat Kami</td>
</tr>
</table>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row section-break f_font">
<div class="col-xs-12">
<table width="100%" style="table-layout: fixed;">
<tr>
<td colspan="3" class="tac ">(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</td>
<td colspan="3" class="tac " style=""></td>
<td colspan="3" class="tac " style=""></td>
<td colspan="3" class="tac ">(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</td>
</tr>
</table>
</div>
</div>
