<div class="print-heading">
  <div class="row">
    <div class="col-xs-6">
      <table width="100%" style="table-layout: auto;">
        <tr>
          <td width="50%"><b>Expedition Name</b></td>
          <td width="50%">{{ doc.transporter_name or '' }}</td>
        </tr>
        <tr>
          <td width="50%"><b>Expedition Address</b></td>
          <td width="50%">
              {% set transporter = frappe.get_all('Address', filters={'address_title': doc.transporter_name}, fields=['address_line1','address_line2','city']) %}
              {% for transporter in transporter %}
                  {% if transporter.address_line1 is not none %}
                    <h2 style="font-size:10px">{{ transporter.address_line1 or "" }}</h2>
                  {% endif %}
                  {% if transporter.address_line2 is not none %}
                    <h2 style="font-size:10px">{{ transporter.address_line2 or "" }}</h2>
                  {% endif %}
                  {% if transporter.city is not none %}
                    <h2 style="font-size:10px">{{ transporter.city or "" }}</h2>
                  {% endif %}
              {% endfor %}
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-6">
      <h2 style="font-size:16px"<b>Delivery Note</b></h2>
      <small>{{ doc.name }}</small>
      <!--<h2 style="font-size:12px"><b>Sales Order Number</b></h2>-->
      {% set str=namespace(against_sales_order="") %}
      {% for row in doc.items %}
          {% set str.against_sales_order= row.against_sales_order%}
      {% endfor %}
      <h2 style="font-size:12px">{% if str.against_sales_order is not none %} {{ str.against_sales_order }} {% endif %}
      {% if doc.pick_list is not none %}
        {% set so = frappe.get_all('Pick List Item', filters={'parent': doc.pick_list}, fields=['sales_order']) %}
        {% for so in so %}
            {% if so.sales_order is not none and so.sales_order !=str.against_sales_order %}
              <h2 style="font-size:10px">{{ so.sales_order or "" }}</h2>
            {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
<div class="row section-break f_font">
  <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%"><b>Customer Name</b></td>
        <td width="60%">{{ doc.customer_name or '' }}</td>
      </tr>
      <tr>
    		<td width="40%"><b>{% if doc.pick_list is not none %} Pick List {% endif %}</b></td>
    		<td width="60%">{% if doc.pick_list is not none %} {{doc.pick_list}} {% endif %}</td>
  	  </tr>
      <tr>
        <td width="40%">{% if doc.contact_display is not none %} Contact {% endif %}</td>
        <td width="60%"><b>{% if doc.contact_display is not none %} {{ doc.contact_display or '' }} {% endif %}</b></td>
      </tr>
    </table>
  </div>
  <div class="col-xs-6">
	 <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%"><b>Date</b></td>
        <td width="60%">{{ frappe.utils.formatdate(doc.get_formatted('posting_date'), "dd-mm-yyyy") }}</td>
      </tr>
      <tr>
        <td width="40%"><b>{% if doc.address_display is not none %} Address {% endif %}</b></td>
        <td width="60%">{% if doc.address_display is not none %} {{ doc.address_display or '' }} {% endif %}</td>
      </tr>

    </table>
  </div>
</div>

{% set uom=namespace(uom_name="") %}
{% set disc=namespace(discount=0) %}
{% set total_weight=namespace(total=0) %}
<br>
<table width="100%" style="table-layout: auto;" border="1px" bordercolor="#d1d8dd">
    <tr>
        <th class="tac" width="3%"><b>No</b></th>
        <th class="tac" width="30%"><b>Item Code</b></th>
        <th class="tac" width="27%"><b>Item Category</b></th>
        <th class="tac" width="10%"><b>Size</b></th>
        <th class="tac" width="15%"><b>Quantity</b></th>
        <th class="tac" width="15%"><b>Total Weight</b></th>
    </tr>
    {% for row in doc.items %}

    <tr>
        {% set total_weight.total = row.qty * row.weight_per_unit %}
            <td class="tac" width="3%">{{ row.idx or '' }}</td>
            <td width="30%">{{ row.item_code or '' }}</td>
            {% set item = frappe.get_all('Item', filters={'item_code': row.item_code}, fields=['item_category']) %}
            {% for item in item %}
                <td class="tac" width="27%" >{% if item.item_category is not none %}{{item.item_category or '' }} {% endif %}
                </td>
            {% endfor %}
            <td class="tac" width="10%" >
            {% set size = frappe.get_all('Item Variant Attribute', filters={'parent': row.item_code}, fields=['attribute_value']) %}
            {% for size in size %}
                {% if size.attribute_value is not none %}{{size.attribute_value or '' }} {% endif %}
            {% endfor %}
            </td>
            <td class="tac" width="15%"> {{ row.get_formatted("qty") or 0}}&nbsp; {{row.uom}}</td>
            <td class="tac" width="15%">{{ total_weight.total }}</td>

        </tr>
        {% set discount = row.discount_amount %}
        {% set disc.discount=disc.discount+ discount %}
    {% endfor %}
    <tr>
      <td class="tac" colspan="4">Total Quantity</td>
      <td width="10%" style ="text-align:center">{{ doc.total_qty or '' }}</td>
      <td></td>
    </tr>
    <tr>
      <td width="15%">Catatan</td>
      <td width="85%" colspan="5" style ="text-align:left">{{ doc.note or '' }}</td>
    </tr>
</table>
{% set username = ""%}
{% if frappe.session.user != "Administrator" %}
{% set user = frappe.get_doc('User', frappe.session.user)%}
{% set username= user.full_name %} {% endif%}
{% if frappe.session.user == "Administrator"%}
{% set username= frappe.session.user %} {% endif%}

<div class="row section-break f_font">
  <div class="col-xs-12">
    <br><br><br><br><br><br><br>
    <table width="100%" style="table-layout: fixed;">
      <tr><td colspan="12"></td></tr>
      <tr>
          {% set full_name = frappe.get_all('User', filters={'name': doc.modified_by}, fields=['full_name']) %}
          {% for full_name in full_name %}
              <td colspan="3" class="tac " style="">{% if full_name.full_name is not none %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ full_name.full_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
              </td>
          {% endfor %}
          <td colspan="3" class="tac "></td>
          <td colspan="3" class="tac ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'Hendra'}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td colspan="3" class="tac "></td>
          </tr>
      <tr>
          <td colspan="3" class="tac " style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dibuat oleh</td>
          <td colspan="3" class="tac ">Ekspedisi</td>
          <td colspan="3" class="tac ">Logistic</td>
          <td colspan="3" class="tac ">Diterima oleh</td>
      </tr>
    </table>
  </div>
</div>
