<div class="print-heading">
<h2 style="font-size:16px"<b>Delivery Note</b></h2>
<small>{{ doc.name }}</small>
<!--<h2 style="font-size:12px"><b>Sales Order Number</b></h2>-->
{% set str=namespace(against_sales_order="") %}
{% for row in doc.items %}
    {% set str.against_sales_order= row.against_sales_order%}
{% endfor %}
<h2 style="font-size:12px">{% if str.against_sales_order is not none %} {{ str.against_sales_order }} {% endif %}
{% if doc.pick_list is not none %}
  {% set so = frappe.get_all('Pick List Item', filters={'parent': doc.pick_list}, fields=['sales_order']) %}
  {% for so in so %}
      <h2 style="font-size:10px">{{ so.sales_order or "" }}</h2>
  {% endfor %}
{% endif %}
</div>
<div class="row section-break f_font">
  <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%"><b>Customer Name</b></td>
        <td width="60%">{{ doc.customer_name or '' }}</td>
      </tr>
      <tr>
    		<td width="40%"><b>{% if doc.pick_list is not none %} Pick List {% endif %}</b></td>
    		<td width="60%">{% if doc.pick_list is not none %} {{doc.pick_list}} {% endif %}</td>
  	  </tr>
      <tr>
        <td width="40%">{% if doc.contact_display is not none %} Contact {% endif %}</td>
        <td width="60%"><b>{% if doc.contact_display is not none %} {{ doc.contact_display or '' }} {% endif %}</b></td>
      </tr>
    </table>
  </div>
  <div class="col-xs-6">
	 <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%"><b>Date</b></td>
        <td width="60%">{{ frappe.utils.formatdate(doc.get_formatted('posting_date'), "dd-mm-yyyy") }}</td>
      </tr>
      <tr>
        <td width="40%"><b>{% if doc.address_display is not none %} Billing Address {% endif %}</b></td>
        <td width="60%">{% if doc.address_display is not none %} {{ doc.address_display or '' }} {% endif %}</td>
      </tr>

    </table>
  </div>
</div>

{% set uom=namespace(uom_name="") %}
{% set disc=namespace(discount=0) %}
{% set total_weight=namespace(total=0) %}
<br><table width="100%" style="table-layout: auto;" border="1px" bordercolor="#d1d8dd">
    <tr>
        <th class="tac" width="6%"><b>Sr.</b></th>
        <th class="tac" width="18%"><b>Item Code</b></th>
        <th class="tac" width="18%"><b>Description</b></th>
        <th class="tac" width="15%"><b>Quantity</b></th>
        <th class="tac" width="15%"><b>Weight/Unit</b></th>
        <th class="tac" width="10%"><b>Total Weight</b></th>
    </tr>
{% for row in doc.items %}

<tr>
    {% set total_weight.total = row.qty * row.weight_per_unit %}
        <td class="tac" width="6%">{{ row.idx or '' }}</td>
        <td width="18%">{{ row.item_code or '' }}</td>
        <td width="18%">{{ row.description or '' }}</td>
        <td class="tac" width="15%"> {{ row.get_formatted("qty") or 0}}&nbsp; {{row.uom}}</td>
        <td class="tac" width="15%">{{ row.weight_per_unit }}</td>
        <td class="tac" width="10%">{{ total_weight.total }}</td>

    </tr>
    {% set discount = row.discount_amount %}
    {% set disc.discount=disc.discount+ discount %}
{% endfor %}
  <tr>
    <td class="tac" colspan="3">Total Quantity</td>
    <td width="10%" style ="text-align:center">{{ doc.total_qty or '' }}</td>
    <td></td><td></td>
  </tr>
</table>
{% set username = ""%}
{% if frappe.session.user != "Administrator" %}
{% set user = frappe.get_doc('User', frappe.session.user)%}
{% set username= user.full_name %} {% endif%}
{% if frappe.session.user == "Administrator"%}
{% set username= frappe.session.user %} {% endif%}

<div class="row section-break f_font">
<div class="col-xs-12">
<br><br><br><br><br><br><br>
<table width="100%" style="table-layout: fixed;">
<tr><td colspan="12"></td></tr>
<tr>
<td colspan="3" class="tac " style=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ doc.modified_by }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td colspan="3" class="tac "></td>
<td colspan="3" class="tac ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'Hendra'}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td colspan="3" class="tac "></td>
</tr>
<tr>
<td colspan="3" class="tac " style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dibuat oleh</td>
<td colspan="3" class="tac ">Ekspedisi</td>
<td colspan="3" class="tac ">Kepala Gudang</td>
<td colspan="3" class="tac ">Diterima oleh</td>
</tr>
</table>
</div>
</div>
