<style>
.tac{text-align: center;}
.tar{text-align: right;}
.brs{border-right: hidden;}
.color{color: #d1d8dd;}
.fsize{font-size: 20px;}
.blh{border-left: hidden;}
.bbh{border-bottom: hidden; }
.f_font{font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif;}
</style>

<div class="print-heading">
    <h2>Purchase Invoice<br><small>{{doc.name}}</small></h2>
    <small>{{doc.items[0].purchase_order}}</small>
</div>
<div class="row section-break f_font">
  <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%"><b>Supplier Name</b></td>
        <td width="60%">{{ doc.supplier or '' }}</td>
      </tr>
      <tr>
        <td width="40%"><b>Address</b></td>
        <td width="60%">{{ doc.address_display or '' }}</td>
      </tr>
    </table>
  </div>
  <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%"><b>Due Date</b></td>
        <td width="60%">{{ doc.due_date or '' }}</td>
      </tr>
    </table>
  </div>
</div>

<div class="row section-break f_font">
<div class="col-xs-12" style="overflow-x:auto;">
<table width="100%" style="table-layout: auto;" border="1px" bordercolor="#d1d8dd">
<tr>
<th class="tac" width="3%" style="font-size:10px"><b>SR</b></th>
<th class="tac" width="12%" style="font-size:10px"><b>Item Name</b></th>
<!-- <th class="tac" width="15%"> <b>Image</b></th> -->
<th class="tac" width="12%" style="font-size:10px"><b>Description</b></th>
<th class="tac" width="6%" style="font-size:10px"><b>Received Qty</b></th>
<th class="tac" width="7%" style="font-size:10px"><b>Accepted Qty</b></th>
<th class="tac" width="6%" style="font-size:10px"><b>Rejected Qty</b></th>
<th class="tac" width="10%" style="font-size:10px"><b>Discount Amount</b></th>
<th class="tac" width="9%" style="font-size:10px"><b>Rate</b></th>
<th class="tac" width="11%" style="font-size:10px"><b>Amount</b></th>
<th class="tac" width="10%" style="font-size:10px"><b>Accepted Warehouse</b></th>
</tr>
{% set uom=namespace(uom_name="") %}
{% set disc=namespace(discount=0) %}
{% for row in doc.items %}
<tr>
<td class="tac" width="3%" style="font-size:10px">{{ row.idx or '' }}</td>
<td width="12%" style="font-size:10px">{{ row.item_name or '' }}</td>
<td width="12%" style="font-size:10px">{{ row.description or '' }}</td>
{% set uom.uom_name= row.uom%}
{% set fmtrate =  frappe.utils.fmt_money(row.rate,currency="Rp") %}
{% set fmtamount =  frappe.utils.fmt_money(row.amount,currency="Rp") %}
{% set fmtaccepted_qty =  frappe.utils.fmt_money(row.qty,currency="") %}
{% set fmtrejected_qty =  frappe.utils.fmt_money(row.rejected_qty,currency="") %}
{% set fmtreceived_qty =  frappe.utils.fmt_money(row.received_qty,currency="") %}
{% set fmtdiscount_amount =  frappe.utils.fmt_money(row.discount_amount,currency="Rp") %}
{% set fmtamount =  frappe.utils.fmt_money(row.amount,currency="Rp") %}
{% set fmtweight_per_unit =  frappe.utils.fmt_money(row.weight_per_unit,currency="") %}
{% set fmttotal_weight =  frappe.utils.fmt_money(row.total_weight,currency="") %}
{% set discount = row.discount_amount %}
{% set disc.discount=disc.discount+ discount %}

<!-- <td class="tac" width="15%"> <img id="item_img" src= '{{ row.image }}'></td> -->
<!--<td class="tac" width="12%" >{{ fmtreceived_qty or ''}}&nbsp;{{ row.uom or ''}}</td>-->
<td class="tac" width="6%" style="font-size:10px">{{ fmtreceived_qty or ''}}&nbsp;{{ row.uom or ''}}</td>
<!--<td class="tac" width="12%" >{{ fmtaccepted_qty or ''}}&nbsp;{{ row.uom or ''}}</td>-->
<td class="tac" width="7%" style="font-size:10px">{{ fmtaccepted_qty or ''}}&nbsp;{{ row.uom or ''}}</td>
<!--<td class="tac" width="12%" >{{ fmtrejected_qty or ''}}&nbsp;{{ row.uom or ''}}</td>-->
<td class="tac" width="6%" style="font-size:10px">{{ fmtrejected_qty or ''}}&nbsp;{{ row.uom or ''}}</td>
<td class="tac" width="10%" style="font-size:10px">{{ fmtdiscount_amount or ''}}</td>
<td class="tac" width="9%" style="font-size:10px">{{ fmtrate or ''}}</td>
<td class="tac" width="11%" style="font-size:10px">{{ fmtamount or ''}}</td>
<td class="tac" width="10%" style="font-size:10px">{{ row.warehouse or ''}}</td>
</tr>
{% endfor %}
{% set fmt_total_qty = frappe.utils.fmt_money(doc.total_qty,currency="") %}
<tr>
  <td class="tac" colspan="4">Total Quantity</td>
  <td class="tac">{{fmt_total_qty}}&nbsp;{{uom.uom_name}}</td>
  <td></td><td></td><td></td><td></td><td></td>
</tr>
</table>
</div>
</div>

<div class="row section-break f_font">
  {% set tot_disc = disc.discount+doc.discount_amount %}
  {% set fmt_total = frappe.utils.fmt_money(doc.total,currency="") %}
  {% set fmt_net_total = frappe.utils.fmt_money(doc.net_total,currency="") %}
  {% set fmt_grand_total = frappe.utils.fmt_money(doc.grand_total,currency="") %}
  {% set fmt_rounded_total = frappe.utils.fmt_money(doc.rounded_total,currency="") %}
  {% set fmt_tot_disc_percentage= doc.additional_discount_percentage %}
  {% set tot_disc =  doc.total * doc.additional_discount_percentage %}
  {% set fmt_tot_disc = frappe.utils.fmt_money(tot_disc,currency="") %}
  {% set fmt_tot_tax = frappe.utils.fmt_money(doc.total_taxes_and_charges,currency="") %}
  <div class="col-xs-6">
  </div>
  <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">

    </table>
  </div>
</div>
<div class="row section-break f_font">
  {% set fmt_tot_disc_percentage= doc.additional_discount_percentage %}
  {% set tot_disc =  (doc.total * doc.additional_discount_percentage)/100 %}
  {% set fmt_tot_disc = frappe.utils.fmt_money(tot_disc,currency="") %}
  {% set fmt_total_qty = frappe.utils.fmt_money(doc.total_qty,currency="") %}
  {% set fmt_total = frappe.utils.fmt_money(doc.total,currency="") %}
  {% set fmt_net_total = frappe.utils.fmt_money(doc.net_total,currency="") %}
  {% set fmt_grand_total = frappe.utils.fmt_money(doc.grand_total,currency="") %}
  {% set fmt_rounded_total = frappe.utils.fmt_money(doc.rounded_total,currency="") %}
  {% set fmt_tot_tax = frappe.utils.fmt_money(doc.total_taxes_and_charges,currency="") %}
</div>
<br>
<div class="row section-break f_font">
  <div class="col-xs-6">
  </div>
  <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td colspan="40%"><b>Total</b></td>
        <td colspan="60%">{{doc.currency}}&nbsp;{{ fmt_total or '' }}</td>
      </tr>
      <tr>
        <td colspan="40%"><b>Diskon</b></td>
        <td colspan="60%">{{doc.currency}} {{ fmt_tot_disc or '0'}}&nbsp;{{'('}}{{fmt_tot_disc_percentage}}&nbsp;{{'%)'}}</td>
      </tr>
      <tr>
        <td colspan="40%"><b>Total Setelah Diskon</b></td>
        <td colspan="60%">{{doc.currency}}&nbsp;{{ fmt_net_total or '' }}</td>
      </tr>
      <tr>
        <td colspan="40%"><b>PPN</b></td>
        <td colspan="60%">{{doc.currency}}&nbsp;{{ fmt_tot_tax or '' }}</td>
      </tr>
      <tr>
        <td colspan="40%"><b>Grand Total</b></td>
        <td colspan="60%">{{doc.currency}}&nbsp;{{ fmt_rounded_total or '' }}</td>
      </tr>
    </table>
  </div>
</div>
<br>

<div class="row section-break f_font">
  <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%"><b>Payment Term Template</b></td>
        <td width="60%" style="text-align:right">{{ doc.payment_terms_template or '' }}</b></td>
      </tr>
    </table>
  </div>
  <div class="col-xs-6">
  </div>
</div>
<div class="row section-break f_font">
<div class="col-xs-12">
<table width="100%" style="table-layout: fixed;">
<tr><td colspan="12"></td></tr>

<tr><td colspan="12" height="70px"></td></tr>
{% set username = ""%}
{% if frappe.session.user != "Administrator" %}
{% set user = frappe.get_doc('User', frappe.session.user)%}
{% set username= user.full_name %} {% endif%}
{% if frappe.session.user == "Administrator"%}
{% set username= frappe.session.user %} {% endif%}
<tr>
<td colspan="3" class="tac "> <u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{doc.approve_pi or ''}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u> </td>
<td colspan="3" class="tac "> <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{doc.check_pi or ''}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u> </td>
<td colspan="3" class="tac " style=""> <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ username }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u> </td>
<td colspan="3" class="tac " style=""> <u></u> </td>
</tr>

<tr>
<td colspan="3" class="tac"><b>Approved By</b></td>
<td colspan="3" class="tac"><b>Checked By</b></td>
<td colspan="3" class="tac"><b>Prepared By</b></td>
<td colspan="3" class="tac"><b>Reviewed By</b></td>
</tr>
</table>
</div>
</div>
