<style>
.tac{text-align: center;}
.tar{text-align: right;}
.brs{border-right: hidden;}
.color{color: #d1d8dd;}
.fsize{font-size: 20px;}
.blh{border-left: hidden;}
.bbh{border-bottom: hidden; }
.f_font{font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif;}
</style>
<div class="print-heading">

<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.9.0/dist/JsBarcode.all.min.js">
</script>

<svg class="barcode"
jsbarcode-fontsize="10"
jsbarcode-height="30"
jsbarcode-value="{{doc.name}}"/>
{% set username = ""%}
{% if frappe.session.user != "Administrator" %}
{% set user = frappe.get_doc('User', frappe.session.user)%}
{% set username= user.full_name %} {% endif%}
{% if frappe.session.user == "Administrator"%}
{% set username= frappe.session.user %} {% endif%}
{% set name=namespace(name="") %}
{% set role2=namespace(role2="") %}
{% set user_name = frappe.get_all('User', filters={'full_name': username}, fields=['name']) %}
  {% for user_name in user_name %}
     {% set name.name = user_name.name%}
  {% endfor %}
{% set hasrole = frappe.get_all('Has Role', filters={'parent': name.name}, fields=['role']) %}
  {% for hasrole in hasrole %}
     {% if ((hasrole.role == "Accounting Supervisor") or (hasrole.role == "CEO") or (hasrole.role=="Accounts Manager")) %}
        {% set role2.role2=hasrole.role %}
     {% endif %}

  {% endfor %}
{% set uom=namespace(uom_name="") %}
{% set disc=namespace(discount=0) %}

<h2 style="font-size:16px;font-weight:bold;">Sales Order<br><small style="font-weight:bold;">{{ doc.name }}</small></h2></div>

<script>JsBarcode(".barcode").init();</script>

<!--<div class="row section-break f_font">
    <div class="col-xs-6">
    </div>
    <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;margin-bottom:30px;" border="0px" bordercolor="#a9a9a9">
      <tr>
        <td width="40%"></td>
        <td width="60%" class="fsize tac blh brs bbh" style="text-align:right"><b>Sales Order</b></td>
      </tr>
      <tr>
        <td width="40%"></td>
        <td width="60%" style="text-align:right">{{ doc.name or '' }}</td>
      </tr>
    </table>
    </div>
</div>-->
<div class="row section-break f_font">
  <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%"><b>Customer Name</b></td>
        <td width="60%">{{ doc.customer_name or '' }}</td>
      </tr>
    </table>
  	<table width="100%" style="table-layout: fixed;">
        <tr>
          <td width="40%"><b>Alamat</b></td>
          <td width="60%">{{ doc.address_display or '' }}</td>
        </tr>
    </table>
  </div>
  <div class="col-xs-6">
  	<table width="100%" style="table-layout: fixed;">
        <tr>
          <td width="40%"><b>Tanggal</b></td>
          <td width="60%">{{ frappe.utils.formatdate(doc.get_formatted('transaction_date'), "dd-mm-yyyy") }}</td>
        </tr>
      <!--</table>-->
  	<!--<table width="100%" style="table-layout: fixed;">-->
        <tr>
          <td width="40%"><b>Tanggal Pengiriman</b></td>
          <td width="60%">{{ frappe.utils.formatdate(doc.get_formatted('delivery_date'), "dd-mm-yyyy") }}</td>
        </tr>
      </table>
  </div>
</div>

<div class="row section-break f_font">
<div class="col-xs-12" style="overflow-x:auto;">
<table width="100%" style="table-layout: auto;" border="1px" bordercolor="#d1d8dd">
<tr>
<th class="tac" width="3%"><b>No</b></th>
{% if (role2.role2 == "Accounting Supervisor") or (role2.role2 == "CEO") or (role2.role2=="Accounts Manager") %}
     <th class="tac" width="25%"><b>Kode Barang</b></th>
     <th class="tac" width="25%"><b>Description</b></th>
     <th class="tac" width="15%"><b>Quantity</b></th>
     <th class="tac" width="12%"><b>Diskon</b></th>
     <th class="tac" width="15%"><b>Harga</b></th>
     <th class="tac" width="18%"><b>Total</b></th>
  {% else %}
     <th class="tac" width="40%"><b>Kode Barang</b></th>
     <th class="tac" width="40%"><b>Description</b></th>
     <th class="tac" width="27%"><b>Quantity</b></th>
  {% endif %}
</tr>

{% set counter = namespace(value=0) %}
{% set sales_invoice = None %}
{% set sales_order = get_summary_sales_order(doc) %}

{% for row in sales_order %}
<tr>
{% set counter.value = counter.value + 1 %}

{% set uom.uom_name= row.uom%}
{% set fmtrate =  frappe.utils.fmt_money(row.rate,currency="") %}
{% set fmtamount =  frappe.utils.fmt_money(row.amount,currency="") %}
{% set fmt_qty =  frappe.utils.fmt_money(row.quantity,currency="") %}
{% set fmtdiscount_amount =  frappe.utils.fmt_money(row.discount_amount,currency="") %}
{% set fmtamount =  frappe.utils.fmt_money(row.amount,currency="") %}
{% set discount = row.discount_amount * row.quantity %}
{% set disc.discount=disc.discount+ discount %}
<td class="tac" width="3%">{{ counter.value or '' }}</td>
{% if (role2.role2 == "Accounting Supervisor") or (role2.role2 == "CEO") or (role2.role2=="Accounts Manager") %}
   <td width="25%">{{ row.item_name or '' }}</td>
   <td width="25%">{{ row.description or '' }}</td>
   <!-- <td class="tac" width="15%"> <img id="item_img" src= '{{ row.image }}'></td> -->
   <td class="tac" width="15%" >{{ fmt_qty or ''}}{{ row.uom or ''}}</td>
   <td class="tac" width="12%" >{{doc.currency}}{{ fmtdiscount_amount or ''}}</td>
   <td class="tac" width="15%" >{{doc.currency}}{{ fmtrate or ''}} </td>
   <td class="tac" width="18%" >{{doc.currency}}{{ fmtamount or ''}} </td>
 {% else %}
   <td width="40%">{{ row.item_name or '' }}</td>
   <td width="40%">{{ row.description or '' }}</td>
   <!-- <td class="tac" width="15%"> <img id="item_img" src= '{{ row.image }}'></td> -->
   <td class="tac" width="27%" >{{ fmt_qty or ''}}{{ row.uom or ''}}</td>
 {% endif %}

</tr>
{% endfor %}
  {% set fmt_total_qty = frappe.utils.fmt_money(doc.total_qty,currency="") %}
  <tr>
    <td class="tac" colspan="3">Total Quantity</td>
    <td class="tac">{{fmt_total_qty}}&nbsp;{{uom.uom_name}}</td>
    {% if (role2.role2 == "Accounting Supervisor") or (role2.role2 == "CEO") or (role2.role2=="Accounts Manager") %}
       <td></td><td></td><td></td>
    {% endif %}
  </tr>
</table>
</div>
</div>
<!--<div class="row section-break f_font">-->
<div class="row">
  {% set fmt_tot_disc_percentage= doc.additional_discount_percentage %}
  {% set tot_disc =  (doc.total * doc.additional_discount_percentage)/100 %}
  {% set fmt_tot_disc = frappe.utils.fmt_money(tot_disc,currency="") %}
  {% set fmt_total = frappe.utils.fmt_money(doc.total,currency="") %}
  {% set fmt_net_total = frappe.utils.fmt_money(doc.net_total,currency="") %}
  {% set fmt_grand_total = frappe.utils.fmt_money(doc.grand_total,currency="") %}
  {% set fmt_rounded_total = frappe.utils.fmt_money(doc.rounded_total,currency="") %}
  {% set fmt_tot_tax = frappe.utils.fmt_money(doc.total_taxes_and_charges,currency="") %}
  <div class="col-xs-6">
  </div>
  <div class="col-xs-6">
    <div class="row">
        <table width="100%" style="table-layout: fixed;">
          <tr>
            <td colspan="40%"><b>{% if (role2.role2 == "Accounting Supervisor") or (role2.role2 == "CEO") or (role2.role2=="Accounts Manager") %}Total{% endif %}</b></td>
            <td colspan="60%">{% if (role2.role2 == "Accounting Supervisor") or (role2.role2 == "CEO") or (role2.role2=="Accounts Manager") %}{{doc.currency}}&nbsp;{{ fmt_total or '' }}{% endif %}</td>
          </tr>
        <!--</table>-->
        <!--<table width="100%" style="table-layout: fixed;">-->
          <tr>
            <td colspan="40%"><b>{% if (role2.role2 == "Accounting Supervisor") or (role2.role2 == "CEO") or (role2.role2=="Accounts Manager") %}Diskon{% endif %}</b></td>
            <td colspan="60%">{% if (role2.role2 == "Accounting Supervisor") or (role2.role2 == "CEO") or (role2.role2=="Accounts Manager") %}{{doc.currency}} {{ fmt_tot_disc or '0'}}&nbsp;{{'('}}{{fmt_tot_disc_percentage}}&nbsp;{{'%)'}}{% endif %}</td>
          </tr>
        <!--</table>
        <table width="100%" style="table-layout: fixed;">-->
          <tr>
            <td colspan="40%"><b>{% if (role2.role2 == "Accounting Supervisor") or (role2.role2 == "CEO") or (role2.role2=="Accounts Manager") %}Total Setelah Diskon{% endif %}</b></td>
            <td colspan="60%">{% if (role2.role2 == "Accounting Supervisor") or (role2.role2 == "CEO") or (role2.role2=="Accounts Manager") %}{{doc.currency}}&nbsp;{{ fmt_net_total or '' }}{% endif %}</td>
          </tr>
        <!--</table>
        <table width="100%" style="table-layout: fixed;">-->
          <tr>
            <td colspan="40%"><b>{% if (role2.role2 == "Accounting Supervisor") or (role2.role2 == "CEO") or (role2.role2=="Accounts Manager") %}PPN{% endif %}</b></td>
            <td colspan="60%">{% if (role2.role2 == "Accounting Supervisor") or (role2.role2 == "CEO") or (role2.role2=="Accounts Manager") %}{{doc.currency}}&nbsp;{{ fmt_tot_tax or '' }}{% endif %}</td>
          </tr>
        <!--</table>
        <table width="100%" style="table-layout: fixed;">-->
          <tr>
            <td colspan="40%"><b>{% if (role2.role2 == "Accounting Supervisor") or (role2.role2 == "CEO") or (role2.role2=="Accounts Manager") %}Grand Total{% endif %}</b></td>
            <td colspan="60%">{% if (role2.role2 == "Accounting Supervisor") or (role2.role2 == "CEO") or (role2.role2=="Accounts Manager") %}{{doc.currency}}&nbsp;{{ fmt_rounded_total or '' }}{% endif %}</td>
          </tr>
        </table>
    </div>
  </div>
</div>

<br>
<div class="row section-break f_font">
<div class="col-xs-12">
<table width="100%" style="table-layout: fixed;">

{% set username = ""%}
{% if frappe.session.user != "Administrator" %}
{% set user = frappe.get_doc('User', frappe.session.user)%}
{% set username= user.full_name %} {% endif%}
{% if frappe.session.user == "Administrator"%}
{% set username= frappe.session.user %} {% endif%}
<tr>
<!--<td colspan="4" class="tac "> <u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u> </td>
<td colspan="4" class="tac "> <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u> </td>-->
<td colspan="4" class="tac " style=""> <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ username }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u> </td>
<td colspan="4" class="tac "></td>
<td colspan="4" class="tac "></td>
</tr>

<tr>
<td colspan="4" class="tac"><b>Prepared By</b></td>
<td colspan="4" class="tac "></td>
<td colspan="4" class="tac "></td>
</tr>
</table>
</div>
</div>
