<div class="print-heading">
<h2>Sales Invoice<br>
<small>{{ doc.name }}</small>
</h2><br>
<h2 style="font-size:10px">
{{ doc.items[0].sales_order or "" }}<br></h2>
{% set delivery = frappe.get_all('Delivery Note Item', filters={'against_sales_invoice': doc.name}, fields=['parent']) %}
{% for delivery in delivery %}
    <h2 style="font-size:10px">{{ delivery.parent or "" }}</h2>
{% endfor %}
</div>
<div class="row section-break f_font">
  <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%"><b>Customer Name</b></td>
        <td width="60%"><b>{{ doc.customer_name or '' }}</b></td>
      </tr>
    </table>
  </div>
  <div class="col-xs-6">
	<table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%"><b>Date</b></td>
        <td width="60%"><b>{{ frappe.utils.formatdate(doc.get_formatted('posting_date'), "dd-mm-yyyy") }}</b></td>
      </tr>
    </table>
  </div>
</div>
<div class="row section-break f_font">
  <div class="col-xs-6">
	<table width="100%" style="table-layout: fixed;">
	  <tr>
		<td width="40%"></td>
		<td width="60%"></td>
	  </tr>
	</table>
  </div>
  <div class="col-xs-6">
	<table width="100%" style="table-layout: fixed;">
	  <tr>
		<td width="40%">Due Date</td>
		<td width="60%">{{ frappe.utils.formatdate(doc.get_formatted('due_date'), "dd-mm-yyyy") }}</td>
	  </tr>
	</table>
  </div>
</div>
<div class="row section-break f_font">
  <div class="col-xs-6">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%">{% if doc.address_display is not none %} Alamat {% endif %}</td>
        <td width="60%"><b>{% if doc.address_display is not none %} {{ doc.address_display or '' }} {% endif %}</b></td>
      </tr>
    </table>
  </div>
  <div class="col-xs-6">
	<table width="100%" style="table-layout: fixed;">
      <tr>
        <td width="40%"></td>
        <td width="60%"></td>
      </tr>
    </table>
  </div>
</div>

{% set disc=namespace(discount=0) %}
{% set amt=namespace(price_amount=0) %}
<table width="100%" style="table-layout: auto;" border="1px" bordercolor="#d1d8dd">
    <tr>
        <th class="tac" width="5%"><b>No.</b></th>
        <th class="tac" width="30%"><b>Kode Barang</b></th>
        <!--<th class="tac" width="32%"><b>Deskripsi</b></th>-->
        <th class="tac" width="15%"><b>Quantity</b></th>
        <th class="tac" width="15%"><b>Diskon</b></th>
        <th class="tac" width="15%"><b>Harga</b></th>
        <th class="tac" width="20%"><b>Total</b></th>
    </tr>
{% set uom=namespace(uom_name="") %}
{% set disc=namespace(discount=0) %}
{% set amt=namespace(price_amount=0) %}
{% set counter = 0 %}
{% set sales_invoice = None %}
{% set sales_invoice = get_summary_sales_invoice(doc) %}
{% for row in sales_invoice %}
<tr>

        {% set counter = counter + 1 %}
        <td class="tac" width="5%">{{ counter or '' }}</td>
        <td width="30%">{{ row.item_name or '' }}</td>
        <!--<td width="32%">{{ row.description or '' }}</td>-->
        <td class="tac" width="15%">{{ frappe.utils.fmt_money(row.quantity,currency="") or 0}}&nbsp;{{row.uom}}</td>

    <!-- <td class="tac" width="15%"> <img id="item_img" src= '{{ row.image }}'></td> -->
        <td class="tac" width="15%"> {% if doc.currency == "IDR" %}

          {{doc.currency}} {{ frappe.utils.fmt_money(row.discount_amount,currency="") or ''}} {% endif %} {% if doc.currency == "USD" %}
          {{doc.currency}} {{ frappe.utils.fmt_money(row.discount_amount,currency="") or ''}} {% endif %}
        </td>
        <td class="tac" width="15%"> {% if doc.currency == "IDR" %}
          {{doc.currency}} {{ frappe.utils.fmt_money(row.rate,currency="") or ''}} {% endif %} {% if doc.currency == "USD" %}
          {{doc.currency}} {{ frappe.utils.fmt_money(row.rate,currency="") or ''}} {% endif %}
        </td>
        <td class="tac" width="20%"> {% if doc.currency == "IDR" %}
          {{doc.currency}} {{ frappe.utils.fmt_money(row.amount,currency="") or ''}} {% endif %} {% if doc.currency == "USD" %}
          {{doc.currency}} {{ frappe.utils.fmt_money(row.amount,currency="") or ''}} {% endif %}
        </td>

    </tr>
{% endfor %}
    {% set fmt_total_qty = frappe.utils.fmt_money(doc.total_qty,currency="") %}
    <tr>
      <td class="tac" colspan="2">Total Quantity</td>
      <td class="tac">{{fmt_total_qty}}&nbsp;{{uom.uom_name}}</td>
      <td></td><td></td><td></td>
    </tr>
</table><br>


<div class="row section-break f_font">
  {% set tot_disc = disc.discount+doc.discount_amount %}
  {% set tot_ppn = doc.grand_total - (doc.total - tot_disc) %}
  {% set fmt_tot_disc = frappe.utils.fmt_money(tot_disc,currency="") %}
  {% set fmt_total = frappe.utils.fmt_money(doc.total,currency="") %}
  {% set fmt_net_total = frappe.utils.fmt_money(doc.net_total,currency="") %}
  {% set fmt_grand_total = frappe.utils.fmt_money(doc.grand_total,currency="") %}
  {% set fmt_rounded_total = frappe.utils.fmt_money(doc.rounded_total,currency="") %}
  {% set fmt_tot_disc = doc.additional_discount_percentage %}
  {% set tot_disc = disc.discount+doc.discount_amount %}
  {% set fmt_tot_disc2 = frappe.utils.fmt_money(tot_disc,currency="") %}
  {% set fmt_tot_tax = frappe.utils.fmt_money(doc.total_taxes_and_charges,currency="") %}
  <div class="col-xs-7">
  </div>
  <div class="col-xs-5">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td colspan="40%"><b>Total</b></td>
        <td colspan="60%">{{doc.currency}}&nbsp;{{ fmt_total or '' }}</td>
      </tr>
    </table>
  </div>
</div>
{% set fmt_tot_tax = frappe.utils.fmt_money(tot_ppn,currency="") %}
{% set fmt_grand_total = frappe.utils.fmt_money(doc.grand_total,currency="") %}
{% set fmt_rounded_total = frappe.utils.fmt_money(doc.rounded_total,currency="") %}
<div class="row section-break f_font">
  <div class="col-xs-7">
  </div>
  <div class="col-xs-5">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td colspan="40%"><b>PPN Keluaran</b></td>
        <td colspan="60%">{{doc.currency}}&nbsp;{{ fmt_tot_tax or '' }}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row section-break f_font">
  <div class="col-xs-7">
  </div>
  <div class="col-xs-5">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td colspan="40%"><b>Additional Discount Amount</b></td>
        <td colspan="60%">{{ fmt_tot_disc or 0 }}&nbsp;{{'%'}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row section-break f_font">
  <div class="col-xs-7">
  </div>
  <div class="col-xs-5">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td colspan="40%"><b>Grand Total</b></td>
        <td colspan="60%">{{doc.currency}}&nbsp;{{ fmt_grand_total or '' }}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row section-break f_font">
  <div class="col-xs-7">
  </div>
  <div class="col-xs-5">
    <table width="100%" style="table-layout: fixed;">
      <tr>
        <td colspan="40%"><b>Rounded Total</b></td>
        <td colspan="60%">{{doc.currency}}&nbsp;{{ fmt_rounded_total or '' }}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row section-break f_font">
<div class="col-xs-12">
<table width="100%" style="table-layout: fixed;">
<tr><td colspan="12"></td></tr>

<tr><td colspan="12" height="70px"></td></tr>
{% set username = ""%}
{% if frappe.session.user != "Administrator" %}
{% set user = frappe.get_doc('User', frappe.session.user)%}
{% set username= user.full_name %} {% endif%}
{% if frappe.session.user == "Administrator"%}
{% set username= frappe.session.user %} {% endif%}
<tr>
<!--<td colspan="4" class="tac "> <u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u> </td>
<td colspan="4" class="tac "> <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u> </td>-->
<td colspan="4" class="tac " style=""> <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ username }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u> </td>
<td colspan="4" class="tac "></td>
<td colspan="4" class="tac "></td>
</tr>

<tr>
<td colspan="4" class="tac"><b>Prepared By</b></td>
<td colspan="4" class="tac "></td>
<td colspan="4" class="tac "></td>
</tr>
</table>
</div>
</div>
